<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Tennis Club</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/home" (click)="selectOption('Home')">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" (click)="selectOption('About')">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact" (click)="selectOption('Contact')">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="btn btn-primary" href="/login" (click)="selectOption('Login')">Login</a>
        </li>
      </ul>
    </div>
  </nav>
  